# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Name of your awesome research group
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "/web-group-theme/" # the subpath of your site, e.g. /blog
url: "https://gherardovarando.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  jekyll

plugins:
 - jekyll-feed
 - jekyll-seo-tag

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/


### defined for web-group-theme

## set  timezone for handling default TZ for events and seminars
timezone: Europe/Madrid

## 
future: true
collections:
  talks:
    output: true
  news:
    output: true
  people:
    output: true
defaults:
  -
    scope:
      path: ""
      type: "people"
    values:
      layout: "default"

## short name of the group
short: AwRG
## affiliation 
institution:
        name: University of Awesomeness 
        link: http://www.university.org 

## list here the path of bib files     
bibfiles: 
      - "bibtex/papers.bib"

## list here the possible roles in your group
roles: 
    - id: full
      title: Full professor
    - id: associate
      title: Associate professor  
    - id: postdoc
      title: PostDoc
    - id: phd
      title: Phd student 

links: 
   - name: twitter 
     url: https://twitter.com/jekyllrb
