<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/pcooksey/bibtex-js@1.0.0/src/bibtex_js.min.js"></script>

{% if include.bibfiles %}
{% assign bibfiles = include.bibfiles %}
{% else %}
{% assign bibfiles = site.bibfiles %}
{% endif %}

{% for bib in bibfiles %} 
<bibtex src="{{bib | relative_url}}"></bibtex>
{% endfor %}


<div class="bibtex_structure">
  <div class="sections bibtextypekey">
    <div class="section misc|techreport">
      <h2>Preprint</h2>
      <div class="sort year" extra="DESC number">
        <div class="templates"></div>
      </div>
    </div>
    <div class="section article">
      <h2>Refereed Articles</h2>
      <div class="sort year" extra="DESC number">
        <div class="templates"></div>
      </div>
    </div>
    <div class="section inproceedings">
      <h2>Conference and Workshop Papers</h2>
      <div class="sort year" extra="DESC number">
        <div class="templates"></div>
      </div>
    </div>
    <div class="section book">
      <h2>Books</h2>
      <div class="sort year" extra="DESC number">
        <div class="templates"></div>
      </div>
    </div>
    <div class="section phdthesis|mastersthesis|bachelorsthesis">
      <h2>Other Publications</h2>
      <div class="sort year" extra="DESC number">
        <div class="templates"></div>
      </div>
    </div>
  </div>
</div>


{% if include.search %}
<select class="bibtex_search"
            search="bibtextypekey">
   <option value="">Select type</option>
   <option value="ARTICLE">journal</option>
   <option value="INPROCEEDINGS">conference, workshop</option>
   <option value="PHDTHESIS"> phd thesis</option>
   <option value="MASTERTHESIS"> master thesis</option>
   <option value="TECHREPORT"> tech reports</option>
   <option value="BOOK"> books</option>
   <option value="MANUAL"> manuals</option>
   <option value="MISC">  slides, notes</option>
   <option value="UNPUBLISHED">  draft, in preparation </option>
</select>
<select class="bibtex_search bibtex_generate_author" search="author">
  <option value="">All Authors</option>
</select>
<input type="text" class="bibtex_search" id="searchbar" placeholder="Search publications">
{% endif %}

<div id="bibtex_display">
	<div class="bibtex_template" style="display:none;">
		<ul reversed>
			<li>
				<span>
					<span class="bibtextypekey" style="display:none;"></span>
					<span class="if title" style="font-weight: bold;">
						<span class="title"></span>
					</span>
					<div class="if author"><span class="author"></span></div>
					<span class="if booktitle">
						<em><span class="booktitle"></span></em>,
						<span class="if address">
							<span class="address"></span>
						</span>
					</span>
					<span class="if journal" style="font-style: italic;">
						<em><span class="journal"></span></em>
					</span>
					<span class="if publisher">
						<span class="publisher"></span>
					</span>
					<span class="if school">
						<span class="school"></span>
					</span>
					<span class="if volume">
						<span class="volume"></span>
						<span class="if number">(<span class="number"></span>)</span>
						<span class="if pages">:<span class="pages"></span>,
						</span>
					</span>
					<span class="if edition">
						<span class="edition"></span> ed.,
					</span><span class="year"></span>
				</span>
				<br>
				<div class="if url">
					<a class="bibtexVar" href="+URL+" extra="url">
						<span class="url"></span>
					</a>
				</div>
				<div class="if !url">
					<div class="if doi">
						<a class="bibtexVar" href="http://dx.doi.org/+DOI+" extra="doi">
							https://dx.doi.org/<span class="doi"></span>
						</a>
					</div>
				</div>
				<span class="if arxiv">
					<a class="arxiv">
						arXiv
					</a>
				</span>
				<span class="if pdf">
					<a class="pdf">
						PDF 
					</a>
				</span>
				<span class="if code">
					<button type="button" class="btn btn-sm btn-danger">
						<a class="code"> Code </a>
					</button>
				</span>
				<span class="if project">
					<button type="button" class="btn btn-sm btn-warning">
						<a class="code"> Project </a>
					</button>
				</span>
				<span class="if bibtex">
					<button type="button">bibtex</button>
				</span>
				<br>
				<span>
					<div class="bibtexdata alert alert-success collapse closed" role="alert">
						<span class="bibtex"></span>
					</div>
				</span>
			</li>
		</ul>
</div>
