
<h4> papers </h4> 
<ol class = "bib">
{% assign papers = site.data.papers.references | sort: "year" | reverse %}      	
{% for paper in papers %}
<li>  {% for author in  paper.author %}
	{{author.given}}, {{ author.family }};  
      {% endfor %}
      <strong> {{ paper.title }} </strong>,
      <em>{{ paper.container-title }}</em>,
      {% if paper.issued.year %} {{ paper.issued.year }}, 
      {% elsif paper.issued[0].year %}
        {{ paper.issued[0].year }},
      {% endif %}
      {% if paper.volume %} <strong>{{ paper.volume }}</strong>,{% endif %}
      {{ paper.page }}
      {% if paper.DOI %} <a href="https://doi.org/{{paper.DOI}}">doi:{{paper.DOI}}</a> {% endif %} 
      {% if paper.URL %} <a href="{{paper.URL}}">{{paper.URL}}</a> {% endif %} 
      {% if paper.pdf %} <a href="{{site.baseurl}}/pdf/{{paper.pdf}}">pdf</a> {% endif %} 
      {% if paper.arxiv %} <a href="https://arxiv.org/abs/{{paper.arxiv}}">arXiv:{{paper.arxiv}}</a> {% endif %} 
      {% if paper.supplementary %} <a href="{{site.baseurl}}/pdf/{{paper.supplementary}}">supplementary</a> {% endif %} 
</li>
{% endfor %}
</ol>
